/* CSS declarations go here */

[name=commentText] {
    border: none;
    font-family: "Times New Roman";
    font-size: 100%;
    padding: 0.15em;
}
input:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}
input:focus {
    background-color: #f9f9f9;
    cursor: default;
    outline: none;
}
input.error {
    background-color: rgb(255, 231, 231);
}
